<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
	<script type="text/javascript" src="js/ui-bootstrap2.js"></script>
	<script type="text/javascript" src="js/controller.js"></script>
</head>
<body ng-controller="myController">
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3"  ng-app="myApp" ng-controller="myController" ng-repeat="item in lists | filter:searchLists">
				<h3>{{item.name}}</h3>
				<h4>{{item.type}}</h4>
				<h4>{{item.sets}}</h4>
				<h4>{{item.reps}}</h4>
				<h4>{{item.breaktime}}</h4>
				<button class="btn btn-warning btn-sm" val='{{$index}}' ng-click="open()">Edit</button>
				<button class="btn btn-danger btn-sm" val='{{$index}}' ng-click="deleteHouse()">Delete</button>
				

			</div>
			<div ng-app="myApp" ng-controller="myController" modal="showModal" close="cancel()">
				<div class="modal-header">
					<h4>Modal Dialog</h4>
				</div>
				<div class="modal-body">
					<p>Example paragraph with some text</p>
				</div>
				<div class="modal-footer">
					<button class="btn btn-success" ng-click="ok()">Okay</button>
					<button class="btn" ng-click="cancel()">Cancel></button>
				</div>
			</div>
			
		</div>
	</div>

  <!-- Add New List Page -->
  <div class="container">
  </div>
  </body>

</html>